In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os 
import json
import logging

In [2]:
# Scrape data from destinations
city_names = [
    "Mont Saint Michel",
    "St Malo",
    "Bayeux",
    "Le Havre",
    "Rouen",
    "Paris",
    "Amiens",
    "Lille",
    "Strasbourg",
    "Chateau du Haut Koenigsbourg",
    "Colmar",
    "Eguisheim",
    "Besancon",
    "Dijon",
    "Annecy",
    "Grenoble",
    "Lyon",
    "Bormes les Mimosas",
    "Cassis",
    "Marseille",
    "Aix en Provence",
    "Avignon",
    "Uzes",
    "Nimes",
    "Aigues Mortes",
    "Saintes Maries de la mer",
    "Collioure",
    "Carcassonne",
    "Foix",
    "Toulouse",
    "Montauban",
    "Biarritz",
    "Bayonne",
    "La Rochelle",
    "Gorges Du Verdon"
]

In [3]:
# Making a dataframe from our list of cities
dataset = pd.DataFrame(city_names)
dataset.columns=["city_names"]
dataset

                      city_names
0              Mont Saint Michel
1                        St Malo
2                         Bayeux
3                       Le Havre
4                          Rouen
5                          Paris
6                         Amiens
7                          Lille
8                     Strasbourg
9   Chateau du Haut Koenigsbourg
10                        Colmar
11                     Eguisheim
12                      Besancon
13                         Dijon
14                        Annecy
15                      Grenoble
16                          Lyon
17            Bormes les Mimosas
18                        Cassis
19                     Marseille
20               Aix en Provence
21                       Avignon
22                          Uzes
23                         Nimes
24                 Aigues Mortes
25      Saintes Maries de la mer
26                     Collioure
27                   Carcassonne
28                          Foix
29                      Toulouse
30                     Montauban
31                      Biarritz
32                       Bayonne
33                   La Rochelle
34              Gorges Du Verdon

In [4]:
# In the API, the spaces are replaced by '+', so we need to do the same in our df
dataset['city_names'] = dataset['city_names'].str.replace(' ', '+')

In [5]:
dataset.head(35)

                      city_names
0              Mont+Saint+Michel
1                        St+Malo
2                         Bayeux
3                       Le+Havre
4                          Rouen
5                          Paris
6                         Amiens
7                          Lille
8                     Strasbourg
9   Chateau+du+Haut+Koenigsbourg
10                        Colmar
11                     Eguisheim
12                      Besancon
13                         Dijon
14                        Annecy
15                      Grenoble
16                          Lyon
17            Bormes+les+Mimosas
18                        Cassis
19                     Marseille
20               Aix+en+Provence
21                       Avignon
22                          Uzes
23                         Nimes
24                 Aigues+Mortes
25      Saintes+Maries+de+la+mer
26                     Collioure
27                   Carcassonne
28                          Foix
29                      Toulouse
30                     Montauban
31                      Biarritz
32                       Bayonne
33                   La+Rochelle
34              Gorges+Du+Verdon

In [6]:
# Making a first request on the API
url = 'https://nominatim.openstreetmap.org/search?q=paris&format=json'
response = requests.get(url)
response

In [7]:
# Looking at the shape of a response
response.json()[0]

{'place_id': 111607,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'node',
 'osm_id': 17807753,
 'boundingbox': ['48.6966969', '49.0166969', '2.1914616', '2.5114616'],
 'lat': '48.8566969',
 'lon': '2.3514616',
 'display_name': 'Paris, France métropolitaine, 75044, France',
 'class': 'place',
 'type': 'city',
 'importance': 0.9317101715588673,
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_place_city.p.20.png'}

In [8]:
# Latitudes + Longitudes
response.json()[0]['lat'], response.json()[0]['lon']

('48.8566969', '2.3514616')

In [9]:
# Scraping the coordinates for every city
for i in dataset.index :
    city = dataset.loc[i, 'city_names']
    rr = requests.get('https://nominatim.openstreetmap.org/search?q={}&format=json'.format(city)).json()
    dataset.loc[i,'Latitude'] = rr[0]['lat']
    dataset.loc[i,'Longitude'] = rr[0]['lon']

In [10]:
dataset.head(36)

                      city_names            Latitude           Longitude
0              Mont+Saint+Michel          48.6355232          -1.5102571
1                        St+Malo           48.649518          -2.0260409
2                         Bayeux          49.2764624          -0.7024738
3                       Le+Havre          49.4938975           0.1079732
4                          Rouen          49.4404591           1.0939658
5                          Paris          48.8566969           2.3514616
6                         Amiens          49.8941708           2.2956951
7                          Lille          50.6365654           3.0635282
8                     Strasbourg           48.584614           7.7507127
9   Chateau+du+Haut+Koenigsbourg  48.249489800000006    7.34429620253195
10                        Colmar          48.0777517           7.3579641
11                     Eguisheim          48.0447968           7.3079618
12                      Besancon          47.2380222           6.0243622
13                         Dijon          47.3215806           5.0414701
14                        Annecy          45.8992348           6.1288847
15                      Grenoble          45.1875602           5.7357819
16                          Lyon          45.7578137           4.8320114
17            Bormes+les+Mimosas          43.1506968           6.3419285
18                        Cassis          43.2140359           5.5396318
19                     Marseille          43.2961743           5.3699525
20               Aix+en+Provence          43.5298424           5.4474738
21                       Avignon          43.9492493           4.8059012
22                          Uzes          44.0121279           4.4196718
23                         Nimes          43.8374249           4.3600687
24                 Aigues+Mortes          43.5658225           4.1912837
25      Saintes+Maries+de+la+mer          43.4522771           4.4287172
26                     Collioure            42.52505           3.0831554
27                   Carcassonne          43.2130358           2.3491069
28                          Foix          42.9638998           1.6053807
29                      Toulouse          43.6044622           1.4442469
30                     Montauban          44.0175835           1.3549991
31                      Biarritz  43.471143749999996  -1.552726590666314
32                       Bayonne          43.4933379           -1.475099
33                   La+Rochelle          46.1591126          -1.1520434
34              Gorges+Du+Verdon             43.7497             6.32859

In [11]:
# How does a weather informations request looks like?
url2 = 'https://api.openweathermap.org/data/2.5/onecall?lat=43.7497&lon=6.32859&units=metric&exclude=current,minutely,hourly&appid=72ea71a8e14d59d89841a2c2a2798c1a'
resp = requests.get(url2)
resp.json()

{'lat': 43.7497,
 'lon': 6.3286,
 'timezone': 'Europe/Paris',
 'timezone_offset': 7200,
 'daily': [{'dt': 1633950000,
   'sunrise': 1633931036,
   'sunset': 1633971513,
   'moonrise': 1633952940,
   'moonset': 1633984080,
   'moon_phase': 0.19,
   'temp': {'day': 17.36,
    'min': 8.3,
    'max': 18.02,
    'night': 9.27,
    'eve': 15.45,
    'morn': 8.39},
   'feels_like': {'day': 16.38, 'night': 9.27, 'eve': 14.49, 'morn': 8.39},
   'pressure': 1019,
   'humidity': 47,
   'dew_point': 5.95,
   'wind_speed': 2.29,
   'wind_deg': 232,
   'wind_gust': 3.28,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 3,
   'pop': 0.05,
   'uvi': 3.91},
  {'dt': 1634036400,
   'sunrise': 1634017508,
   'sunset': 1634057810,
   'moonrise': 1634043240,
   'moonset': 1634074200,
   'moon_phase': 0.22,
   'temp': {'day': 15.67,
    'min': 7.92,
    'max': 15.67,
    'night': 9.09,
    'eve': 10.63,
    'morn': 7.93},
   'feels_like': {'day': 14.65, 'night': 9.09, 'eve': 9.39, 'morn': 7.93},
   'pressure': 1014,
   'humidity': 52,
   'dew_point': 5.87,
   'wind_speed': 1.91,
   'wind_deg': 210,
   'wind_gust': 1.94,
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': 58,
   'pop': 0,
   'uvi': 3.64},
  {'dt': 1634122800,
   'sunrise': 1634103981,
   'sunset': 1634144107,
   'moonrise': 1634132880,
   'moonset': 0,
   'moon_phase': 0.25,
   'temp': {'day': 12.13,
    'min': 8.09,
    'max': 15.29,
    'night': 8.2,
    'eve': 10.02,
    'morn': 9.68},
   'feels_like': {'day': 11.1, 'night': 7.64, 'eve': 8.75, 'morn': 9.68},
   'pressure': 1015,
   'humidity': 65,
   'dew_point': 5.56,
   'wind_speed': 2.79,
   'wind_deg': 286,
   'wind_gust': 2.92,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 99,
   'pop': 0.25,
   'rain': 0.34,
   'uvi': 2.15},
  {'dt': 1634209200,
   'sunrise': 1634190455,
   'sunset': 1634230406,
   'moonrise': 1634221800,
   'moonset': 1634164680,
   'moon_phase': 0.3,
   'temp': {'day': 11.2,
    'min': 8.11,
    'max': 11.66,
    'night': 8.3,
    'eve': 9,
    'morn': 9.06},
   'feels_like': {'day': 10.33, 'night': 8.3, 'eve': 9, 'morn': 8.52},
   'pressure': 1022,
   'humidity': 75,
   'dew_point': 6.63,
   'wind_speed': 2.11,
   'wind_deg': 152,
   'wind_gust': 2.95,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.39,
   'rain': 1.79,
   'uvi': 2.88},
  {'dt': 1634295600,
   'sunrise': 1634276928,
   'sunset': 1634316705,
   'moonrise': 1634310240,
   'moonset': 1634255400,
   'moon_phase': 0.33,
   'temp': {'day': 14.15,
    'min': 5.37,
    'max': 14.15,
    'night': 7.11,
    'eve': 7.92,
    'morn': 5.37},
   'feels_like': {'day': 13, 'night': 7.11, 'eve': 7.04, 'morn': 4.5},
   'pressure': 1018,
   'humidity': 53,
   'dew_point': 4.42,
   'wind_speed': 3.67,
   'wind_deg': 283,
   'wind_gust': 4.51,
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': 12,
   'pop': 0,
   'uvi': 2.98},
  {'dt': 1634382000,
   'sunrise': 1634363402,
   'sunset': 1634403004,
   'moonrise': 1634398260,
   'moonset': 1634346120,
   'moon_phase': 0.36,
   'temp': {'day': 15.78,
    'min': 6.5,
    'max': 15.78,
    'night': 7.78,
    'eve': 8.32,
    'morn': 6.5},
   'feels_like': {'day': 14.77, 'night': 7.78, 'eve': 8.32, 'morn': 5.65},
   'pressure': 1018,
   'humidity': 52,
   'dew_point': 5.78,
   'wind_speed': 2.06,
   'wind_deg': 195,
   'wind_gust': 2.08,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 93,
   'pop': 0,
   'uvi': 3},
  {'dt': 1634468400,
   'sunrise': 1634449877,
   'sunset': 1634489305,
   'moonrise': 1634486100,
   'moonset': 1634436660,
   'moon_phase': 0.4,
   'temp': {'day': 15.72,
    'min': 6.52,
    'max': 15.72,
    'night': 8.16,
    'eve': 9.45,
    'morn': 6.52},
   'feels_like': {'day': 14.63, 'night': 8.16, 'eve': 9.45, 'morn': 6.52},
   'pressure': 1020,
   'humidity': 49,
   'dew_point': 4.98,
   'wind_speed': 2.18,
   'wind_deg': 207,
   'wind_gust': 1.56,
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': 11,
   'pop': 0,
   'uvi': 3},
  {'dt': 1634554800,
   'sunrise': 1634536352,
   'sunset': 1634575607,
   'moonrise': 1634573700,
   'moonset': 1634527140,
   'moon_phase': 0.43,
   'temp': {'day': 16.42,
    'min': 6.68,
    'max': 16.42,
    'night': 8.3,
    'eve': 9.19,
    'morn': 6.68},
   'feels_like': {'day': 15.37, 'night': 7.76, 'eve': 9.19, 'morn': 6.01},
   'pressure': 1021,
   'humidity': 48,
   'dew_point': 5.41,
   'wind_speed': 2.38,
   'wind_deg': 262,
   'wind_gust': 2.43,
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': 11,
   'pop': 0,
   'uvi': 3}]}

In [12]:
# For one coordinates, we get a week full of weather data. To get the daily temp of the first day:
resp.json()['daily'][0]['temp']['day']

17.36

In [13]:
# Now that we know how to get the informations we need, we can scrape a week's full of temperature and weather data for every city
for i in dataset.index:
    lati = dataset.loc[i,'Latitude']
    longi = dataset.loc[i,'Longitude']
    data = requests.get('https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude=current&units=metric&appid=72ea71a8e14d59d89841a2c2a2798c1a'.format(lati,longi))
    dataset.loc[i,'Temp j0'] = data.json()['daily'][0]['temp']['day']
    dataset.loc[i,'Temp j+1'] = data.json()['daily'][1]['temp']['day']
    dataset.loc[i,'Temp j+2'] = data.json()['daily'][2]['temp']['day']
    dataset.loc[i,'Temp j+3'] = data.json()['daily'][3]['temp']['day']
    dataset.loc[i,'Temp j+4'] = data.json()['daily'][4]['temp']['day']
    dataset.loc[i,'Temp j+5'] = data.json()['daily'][5]['temp']['day']
    dataset.loc[i,'Temp j+6'] = data.json()['daily'][6]['temp']['day']
    dataset.loc[i,'Temp j+7'] = data.json()['daily'][7]['temp']['day']


    dataset.loc[i,'Alerte j0'] = data.json()['daily'][0]['weather'][0]['description']
    dataset.loc[i,'Alerte j+1'] = data.json()['daily'][1]['weather'][0]['description']
    dataset.loc[i,'Alerte j+2'] = data.json()['daily'][2]['weather'][0]['description']
    dataset.loc[i,'Alerte j+3'] = data.json()['daily'][3]['weather'][0]['description']
    dataset.loc[i,'Alerte j+4'] = data.json()['daily'][4]['weather'][0]['description']
    dataset.loc[i,'Alerte j+5'] = data.json()['daily'][5]['weather'][0]['description']
    dataset.loc[i,'Alerte j+6'] = data.json()['daily'][6]['weather'][0]['description']
    dataset.loc[i,'Alerte j+7'] = data.json()['daily'][7]['weather'][0]['description']


dataset.head()

,city_names,Latitude,Longitude,Temp j0,Temp j+1,Temp j+2,Temp j+3,Temp j+4,Temp j+5,Temp j+6,Temp j+7,Alerte j0,Alerte j+1,Alerte j+2,Alerte j+3,Alerte j+4,Alerte j+5,Alerte j+6,Alerte j+7
0,Mont+Saint+Michel,48.6355232,-1.5102571,16.68,15.56,15.18,15.77,15.99,16.69,16.43,16.21,few clouds,scattered clouds,overcast clouds,clear sky,overcast clouds,scattered clouds,overcast clouds,scattered clouds
1,St+Malo,48.649518,-2.0260409,15.78,15.64,15.53,14.84,14.58,15.35,15.65,15.74,few clouds,scattered clouds,overcast clouds,clear sky,overcast clouds,broken clouds,overcast clouds,scattered clouds
2,Bayeux,49.2764624,-0.7024738,14.96,15.68,14.89,15.79,15.19,16.40,15.93,16.06,broken clouds,broken clouds,light rain,clear sky,overcast clouds,scattered clouds,broken clouds,clear sky
3,Le+Havre,49.4938975,0.1079732,14.50,14.69,14.50,14.41,14.44,14.49,14.85,15.18,light rain,broken clouds,overcast clouds,clear sky,overcast clouds,overcast clouds,broken clouds,clear sky
4,Rouen,49.4404591,1.0939658,14.67,14.94,14.05,15.45,15.68,13.97,14.85,15.40,broken clouds,overcast clouds,light rain,scattered clouds,overcast clouds,overcast clouds,overcast clouds,clear sky

In [14]:
# Create a column with the average temperature in a week
dataset['Avg Temp'] = dataset[['Temp j0', 'Temp j+1','Temp j+2','Temp j+3','Temp j+4','Temp j+5','Temp j+6','Temp j+7']].mean(axis=1)
dataset.head()

,city_names,Latitude,Longitude,Temp j0,Temp j+1,Temp j+2,Temp j+3,Temp j+4,Temp j+5,Temp j+6,Temp j+7,Alerte j0,Alerte j+1,Alerte j+2,Alerte j+3,Alerte j+4,Alerte j+5,Alerte j+6,Alerte j+7,Avg Temp
0,Mont+Saint+Michel,48.6355232,-1.5102571,16.68,15.56,15.18,15.77,15.99,16.69,16.43,16.21,few clouds,scattered clouds,overcast clouds,clear sky,overcast clouds,scattered clouds,overcast clouds,scattered clouds,16.06375
1,St+Malo,48.649518,-2.0260409,15.78,15.64,15.53,14.84,14.58,15.35,15.65,15.74,few clouds,scattered clouds,overcast clouds,clear sky,overcast clouds,broken clouds,overcast clouds,scattered clouds,15.38875
2,Bayeux,49.2764624,-0.7024738,14.96,15.68,14.89,15.79,15.19,16.40,15.93,16.06,broken clouds,broken clouds,light rain,clear sky,overcast clouds,scattered clouds,broken clouds,clear sky,15.61250
3,Le+Havre,49.4938975,0.1079732,14.50,14.69,14.50,14.41,14.44,14.49,14.85,15.18,light rain,broken clouds,overcast clouds,clear sky,overcast clouds,overcast clouds,broken clouds,clear sky,14.63250
4,Rouen,49.4404591,1.0939658,14.67,14.94,14.05,15.45,15.68,13.97,14.85,15.40,broken clouds,overcast clouds,light rain,scattered clouds,overcast clouds,overcast clouds,overcast clouds,clear sky,14.87625

In [15]:
# Adding an ID column
dataset.insert(0, 'ID', range(0 + len(dataset)))
dataset.head()

,ID,city_names,Latitude,Longitude,Temp j0,Temp j+1,Temp j+2,Temp j+3,Temp j+4,Temp j+5,...,Temp j+7,Alerte j0,Alerte j+1,Alerte j+2,Alerte j+3,Alerte j+4,Alerte j+5,Alerte j+6,Alerte j+7,Avg Temp
0,0,Mont+Saint+Michel,48.6355232,-1.5102571,16.68,15.56,15.18,15.77,15.99,16.69,...,16.21,few clouds,scattered clouds,overcast clouds,clear sky,overcast clouds,scattered clouds,overcast clouds,scattered clouds,16.06375
1,1,St+Malo,48.649518,-2.0260409,15.78,15.64,15.53,14.84,14.58,15.35,...,15.74,few clouds,scattered clouds,overcast clouds,clear sky,overcast clouds,broken clouds,overcast clouds,scattered clouds,15.38875
2,2,Bayeux,49.2764624,-0.7024738,14.96,15.68,14.89,15.79,15.19,16.40,...,16.06,broken clouds,broken clouds,light rain,clear sky,overcast clouds,scattered clouds,broken clouds,clear sky,15.61250
3,3,Le+Havre,49.4938975,0.1079732,14.50,14.69,14.50,14.41,14.44,14.49,...,15.18,light rain,broken clouds,overcast clouds,clear sky,overcast clouds,overcast clouds,broken clouds,clear sky,14.63250
4,4,Rouen,49.4404591,1.0939658,14.67,14.94,14.05,15.45,15.68,13.97,...,15.40,broken clouds,overcast clouds,light rain,scattered clouds,overcast clouds,overcast clouds,overcast clouds,clear sky,14.87625

In [16]:
# Changing the latitude and longitude columns' type to float
dataset['Latitude'] = dataset['Latitude'].astype(float)
dataset['Longitude'] = dataset['Longitude'].astype(float)

In [18]:
# What are the 5 hottest cities on average for the given week?
ranking_avg_temp = dataset[['city_names','Avg Temp', 'Latitude', 'Longitude']].sort_values(by= 'Avg Temp', ascending=False)
ranking_cities = ranking_avg_temp[0:5]
ranking_cities

         city_names  Avg Temp   Latitude  Longitude
26        Collioure  19.81125  42.525050   3.083155
27      Carcassonne  19.32750  43.213036   2.349107
28             Foix  19.19875  42.963900   1.605381
18           Cassis  18.81375  43.214036   5.539632
20  Aix+en+Provence  18.78500  43.529842   5.447474

In [19]:
# Replacing the + by spaces in city names
dataset['city_names'] = dataset['city_names'].str.replace('+', ' ')

In [20]:
# Saving our results in new CSVs
dataset.to_csv('kayak_cities_weather_noindex.csv', index=False)
ranking_cities.to_csv('ranking_cities.csv', index=False)